<div class="d-flex timer_box" *ngIf="!showQuestion">
  <!-- <div></div>
    <div class="timer">
      {{ timmer }}
     </div>

    <div></div> -->
  <div class="timer">
    Next round will starts in
    <div>{{ timmer }}</div>
  </div>
</div>

<div class="d-flex" *ngIf="showQuestion">
  <div>
    <div class="bar_sect">
      <div class="bar_box">
        <div
          class="bar"
          [ngStyle]="{ 'width.%': (seconds * 10).toFixed(1) }"
        ></div>
      </div>
      <div class="operator">{{ seconds.toFixed(0) }}</div>
    </div>

    <!-- <div class="label">
        <div>
          4<span>/{{ level }}</span>
          <p>Level</p>
        </div>
        <h6 class="card__name">Question {{ question_no }}</h6>
        <div class="score">
          {{ l2_score }}<span>/4</span>
          <p>Score</p>
        </div>
      </div> -->
    <div class="label">
      <!-- Question <strong>{{ question_no }}</strong> -->
      Complete the following equation.
    </div>
  </div>

  <div>
    <div class="input_box">
      <input
        type="text"
        maxLength="1"
        size="1"
        min="1"
        max="9"
        pattern="[1-9]{1}"
        value="{{ firstInput }}"
      />
      <span class="operator">{{ operator1 }}</span>
      <input
        type="text"
        maxLength="1"
        size="1"
        min="1"
        max="9"
        pattern="[1-9]{1}"
        value="{{ secondInput }}"
      />
      <span class="operator">{{ operator2 }}</span>
      <input
        type="text"
        maxLength="1"
        size="1"
        min="1"
        max="9"
        pattern="[1-9]{1}"
        value="{{ thirdInput }}"
      />
      <span class="operator">=</span>
      <input
        class="value"
        type="text"
        maxLength="1"
        size="1"
        value="{{ rhs }}"
        readonly
      />
    </div>
    <div class="calculator">
      <button type="button" value="1" (click)="insertChar(1)">1</button>
      <button type="button" value="2" (click)="insertChar(2)">2</button>
      <button type="button" value="3" (click)="insertChar(3)">3</button>
      <button type="button" value="4" (click)="insertChar(4)">4</button>
      <button type="button" value="5" (click)="insertChar(5)">5</button>
      <button type="button" value="6" (click)="insertChar(6)">6</button>
      <button type="button" value="7" (click)="insertChar(7)">7</button>
      <button type="button" value="8" (click)="insertChar(8)">8</button>
      <button type="button" value="9" (click)="insertChar(9)">9</button>
    </div>
    <button
      type="button"
      class="ac_button waves-effect"
      value="all-clear"
      (click)="removeChar(1)"
    >
      Clear
    </button>
  </div>
</div>

<!-- OLD DESIGN -->
<!-- <div class="container" *ngIf="!showQuestion">
  <div class="row">
    <div class="col-xs-12 col-md-6 col-lg-4">
      <div class="card">
        <div class="card-block">
          <h1 class="card-title">Game Start In</h1>
          <h1 class="card-text">{{ timmer }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="showQuestion">
  <div class="first">
    <div
      class="second"
      [ngStyle]="{ 'width.%': (seconds * 10).toFixed(1) }"
    ></div>
    <span class="operator">{{ seconds.toFixed(1) }}</span>
  </div>
  <div class="calculator">
    <div class="equation-box">
      <div class="equation-box">
        <div class="calculator-keys" style="background-color: #6c819c;">
          <b class="bh">Level {{ level }} </b>
          <b class="bh">Question {{ question_no }}</b>
          <b class="bh">Score {{ l2_score }}/4</b>
        </div>
      </div>
    </div>
    <div class="equation-box">
      <div class="equation">
        <input
          type="text"
          maxLength="1"
          size="1"
          min="1"
          max="9"
          pattern="[1-9]{1}"
          value="{{ firstInput }}"
        />
        <span class="operator">{{ operator1 }}</span>
        <input
          type="text"
          maxLength="1"
          size="1"
          min="1"
          max="9"
          pattern="[1-9]{1}"
          value="{{ secondInput }}"
        />
        <span class="operator">{{ operator2 }}</span>
        <input
          type="text"
          maxLength="1"
          size="1"
          min="1"
          max="9"
          pattern="[1-9]{1}"
          value="{{ thirdInput }}"
        />
        <span class="operator">=</span>
        <input type="text" maxLength="1" size="1" value="{{ rhs }}" readonly />
      </div>
    </div>
    <div class="calculator-keys">
      <button type="button" value="1" (click)="insertChar(1)">1</button>
      <button type="button" value="2" (click)="insertChar(2)">2</button>
      <button type="button" value="3" (click)="insertChar(3)">3</button>
      <button type="button" value="4" (click)="insertChar(4)">4</button>
      <button type="button" value="5" (click)="insertChar(5)">5</button>
      <button type="button" value="6" (click)="insertChar(6)">6</button>
      <button type="button" value="7" (click)="insertChar(7)">7</button>
      <button type="button" value="8" (click)="insertChar(8)">8</button>
      <button type="button" value="9" (click)="insertChar(9)">9</button>
    </div>
    <button
      type="button"
      class="all-clear full"
      value="all-clear"
      (click)="removeChar(1)"
    >
      AC
    </button>
  </div>
</div> -->
