<div class="pdng">
  <div class="label">
    <!-- <div>
      {{ i }}<span>/{{ tot }}</span>
      <p>
        Level
      </p>
    </div> -->
    <div>
      {{ seconds.toFixed(0) }}
      <p>
        Time
      </p>
    </div>
  </div>
  <!-- <div>
    <div class="label">
      <div>
        {{ i }}<span>/{{ tot }}</span>
        <p>
          Level
        </p>
      </div>
      <div>
        {{ seconds.toFixed(1) }}
        <p>
          Time
        </p>
      </div>
    </div>

    <div class="option">
      <div>
        <i class="fa fa-long-arrow-left"></i>
        <span>Opposite</span>
      </div>
      <div>
        <i class="fa fa-long-arrow-down"></i>
        <span>Other</span>
      </div>
      <div>
        <i class="fa fa-long-arrow-right"></i>
        <span>Same</span>
      </div>
    </div>
  </div> -->

  <div
    class="tphoto"
    [@cardAnimator]="animationState"
    (@cardAnimator.done)="resetAnimationState($event)"
    (swipeleft)="startAnimation('swipeleft')"
    (swiperight)="startAnimation('swiperight')"
    (swipedown)="startAnimation('swipedown')"
  >
    <div>{{ word1 }}</div>
    <span>&</span>
    <div>{{ word2 }}</div>
  </div>

  <div class="my_btn">
    <button>
      <i class="fa fa-long-arrow-left"></i>
      Opposite
    </button>
    <button class="arrow-down">
      <i class="fa fa-long-arrow-down"></i>
      Other
    </button>
    <button>
      <i class="fa fa-long-arrow-right"></i>
      Same
    </button>
  </div>
</div>

<!-- OLD DESIGN -->
<!-- <hr />
<div class="row">
  <div class="col-sm-6">
    <h4>{{ i }}/{{ tot }}</h4>
  </div>
  <div class="col-sm-6 text-danger">
    <h3>{{ seconds.toFixed(1) }}</h3>
  </div>
</div>

<hr />
<div
  class="tphoto"
  [@cardAnimator]="animationState"
  (@cardAnimator.done)="resetAnimationState($event)"
  (swipeleft)="startAnimation('swipeleft')"
  (swiperight)="startAnimation('swiperight')"
  (swipedown)="startAnimation('swipedown')"
>
  <div>{{ word1 }}</div>
  <br />
  <div>{{ word2 }}</div>
</div>
<hr />
<div class="row">
  <div style="width: 33.33%;">
    <p>
      Almost Same <br />
      Click Left
    </p>
  </div>
  <div style="width: 33.33%;">
    <p>
      Other <br />
      Click Down
    </p>
  </div>
  <div style="width: 33.33%;">
    <p>
      Almost Opposite <br />
      Click Right
    </p>
  </div>
</div> -->
