<div class="d-flex">
  <div>
    <p class="cptn">
      Choose if the Statement is <strong>“Correct”</strong> or
      <strong>“Not”</strong>
    </p>
    <div class="move">
      <div>
        <i class="fa fa-check"></i>
        <span>Click on if the <strong>statment is true</strong></span>
      </div>
      <div>
        <i class="fa fa-times"></i>
        <span>Click on if the <strong>statment is false</strong></span>
      </div>
    </div>
  </div>

  <div class="icon">
    <img
      alt="Statements & Shape Game"
      src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-images/statements-and-shape-game.svg"
    />
  </div>

  <div>
    <button class="waves-effect">
      Next <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>
