.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 40px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 20px;
  }
}
img {
  width: 250px;
  display: block;
  margin: auto;
}

.cptn {
  font-size: 22px;
  line-height: 32px;
  color: #484848;
  margin: 0 0 20px 0;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}

.move {
  div {
    font-size: 16px;
    color: #484848;
    margin: auto;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:last-child {
      margin-bottom: 0;
    }
    strong {
      font-weight: 600;
    }
  }
  i {
    width: 30px;
    height: 30px;
    background: #3b8524;
    box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    &.fa-times {
      background: #bc271a;
      box-shadow: 0px 2px 5px rgba(188, 39, 26, 0.3);
    }
  }
  span {
    width: calc(100% - 50px);
    text-align: left;
  }
}

button {
  background: #3b8524;
  box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
  }
}

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover {
    color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}

// .cptn {
//   font-size: 18px;
//   line-height: 28px;
//   margin: 0;
// }
// .timer {
//   font-size: 16px;
//   color: #484848;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   div {
//     width: 95px;
//     height: 95px;
//     background: #ffa300;
//     box-shadow: 0px 4px 10px rgba(255, 163, 0, 0.3);
//     border-radius: 50%;
//     font-weight: 600;
//     font-size: 58px;
//     color: #fff;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 20px;
//     position: relative;
//     &:before {
//       content: "";
//       position: absolute;
//       top: 0;
//       bottom: 0;
//       left: 0;
//       right: 0;
//       margin: auto;
//       width: 95%;
//       height: 95%;
//       border: 2px solid #fff;
//       border-radius: 50%;
//     }
//   }
// }

// .points {
//   text-align: left;
//   h3 {
//     font-size: 22px;
//     color: #484848;
//     margin: 0 0 30px 0;
//   }
//   ul {
//     margin: 0;
//     padding-left: 20px;
//     li {
//       font-size: 16px;
//       color: #484848;
//       margin-bottom: 20px;
//       &:last-child {
//         margin-bottom: 0;
//       }
//     }
//   }
// }
// .center-align {
//   text-align: center;
// }
