<div class="d-flex">
  <div class="move">
    <div>
      <i class="fa fa-long-arrow-right"></i>
      <span>For almost the <strong>“Same Meaning”</strong></span>
    </div>
    <div>
      <i class="fa fa-long-arrow-left"></i>
      <span>For almost <strong>“Opposites”</strong></span>
    </div>
    <div>
      <i class="fa fa-long-arrow-down"></i>
      <span>For all <strong>“Other Word Pairs”</strong></span>
    </div>
  </div>

  <div>
    <img
      src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-images/swipe-cards.png"
      alt="Swipe Cards"
    />
  </div>

  <div class="my_btn">
    <button class="fa fa-long-arrow-left"></button>
    <button class="fa fa-long-arrow-down"></button>
    <button class="fa fa-long-arrow-right"></button>
  </div>
</div>
