.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 20px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
  }
}

img {
  display: block;
  margin: auto;
  max-width: 85%;
  @media (max-width: 600px) {
    max-width: 100%;
  }
}

.move {
  div {
    font-size: 16px;
    margin: auto;
    margin-bottom: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 289px;
    color: #ffffff;
    &:last-child {
      margin-bottom: 0;
    }
    strong {
      font-weight: 600;
    }
  }
  i {
    width: 30px;
    height: 30px;
    color: #176ede;
    border-radius: 5px;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background: #ffffff;
    box-shadow: 0px 2px 5px rgba(16, 16, 16, 0.25);
  }
  span {
    width: calc(100% - 50px);
    text-align: left;
  }
}

button {
  background: #ffffff;
  box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.4);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #176ede;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
  }
}

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: .3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(25, 115, 235, 0.1);
  }
  &:hover {
    // color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}

// .my_btn {
//   display: flex;
//   align-items: flex-start;
//   justify-content: center;
//   button {
//     background: #ffffff;
//     box-shadow: 0px 2px 5px rgba(16, 16, 16, 0.25);
//     border-radius: 8px;
//     height: 65px;
//     width: 65px;
//     color: #176ede;
//     margin: 0 12px;
//     border: 0;
//     font-size: 30px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     transition: 0.3s;
//     &.fa-long-arrow-down {
//       margin-top: 30px;
//     }
//     &:focus {
//       outline: none;
//     }
//     &:hover {
//       box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.5);
//       transform: scale(1.1);
//     }
//   }
// }

