<div class="d-flex">
  <div>
    <h1>Swipe Cards</h1>
    <p>Press the <strong>“Right key”</strong> to continue</p>
  </div>

  <div>
    <img src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-images/swipe-cards.png" alt="Swipe Cards">
  </div>

  <div>
    <button class="waves-effect" (click)="onSubmit()">
      Start <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>

<!-- <div>
  <div class="form-group">
    <button (click)="onSubmit()" class="btn btn-lg btn-block btn-info">
      Start
    </button>
  </div>
</div> -->
