.pdng {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 15px;
  }
}

.label {
  display: flex;
  justify-content: flex-end;
  div {
    // width: 70px;
    // height: 70px;
    // border-radius: 50%;
    // font-weight: 600;
    // font-size: 26px;
    // display: inline-flex;
    // align-items: center;
    // justify-content: center;
    // position: relative;
    // background: #f8e8e7;
    // color: #bc271a;
    // box-shadow: 0px 0px 10px rgba(188, 39, 26, 0.3);
    width: 70px;
    height: 70px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 26px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    // background: #f8e8e7;
    // color: #bc271a;
    // box-shadow: 0px 0px 10px rgba(188, 39, 26, 0.1);
    // border: 1px solid rgba(188, 39, 26, 0.15);

    background: #3b8524;
    box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
    color: #fff;
    p {
      height: 30px;
      position: absolute;
      bottom: -36px;
      width: 100%;
      margin: 0;
      background: #3b8524;
      color: #ffffff;
      font-size: 13px;
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: 0px 0px 5px rgba(23, 110, 222, 0.2);
      transition: 0.3s;
      &:before {
        content: "";
        position: absolute;
        top: -4px;
        right: 0;
        height: 8px;
        width: 8px;
        transform: rotate(45deg);
        background: #3b8524;
        box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.14);
        border-radius: 3px 0 0 0;
        left: 0;
        margin: auto;
      }
    }
    &:hover {
      p {
        display: flex;
      }
    }
    span {
      font-size: 20px;
      margin-top: 4px;
    }
  }
}

button {
  &:focus {
    outline: none;
  }
}

.number {
  margin: 20px -5px;
  button {
    background: #ffffff;
    box-shadow: 0px 0px 5px rgba(23, 110, 222, 0.3);
    border-radius: 8px;
    color: #176ede;
    font-weight: 600;
    font-size: 30px;
    margin: 0 5px;
    width: calc(33.333% - 10px);
    height: 60px;
    border: 2px solid #176ede;
    transition: 0.3s;
    &:hover {
      color: #fff;
      background: #176ede;
    }
  }
}

.collect {
  background: #3b8524;
  box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  border-radius: 8px;
  color: #ffffff;
  font-weight: 600;
  font-size: 22px;
  height: 60px;
  width: 100%;
  border: 0;
}

.balloon {
  background-size: 100%;
  margin: auto;
}

// .imageblock {
//   display: inline-block;
//   border-radius: 50%;
// }
// .imgdata {
//   // width: 100%;
//   // text-align: center;
//   // position: absolute;
//   // bottom: 0px;
//   span {
//     border-radius: 50%;
//     display: inline-block;
//   }
// }

// .imgdata img {
//   text-align: left;
//   position: relative;
// }

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover {
    color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}
