<div class="d-flex">
  <p class="cptn">
    Choose one of the sequences in the middle to determine the correct reorder
    of the symbols to make the Upper row match the Lower row
  </p>

  <div class="icon">
    <div>
      <i class="fa fa-square"></i>
      <i class="fa fa-circle"></i>
    </div>
    <div>
      <i class="fa fa-play"></i>
      <i class="fa fa-plus"></i>
    </div>
  </div>

  <div>
    <button class="waves-effect">
      Next <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>
