.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 40px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 20px;
  }
}
.cptn {
  font-size: 21px;
  line-height: 30px;
  margin: 0;
  color: #484848;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}

.icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div {
    width: 100%;
  }
  i {
    border: 2px solid #176ede;
    box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
    border-radius: 8px;
    width: 120px;
    height: 120px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 80px;
    margin: 8px;
    @media (max-width: 600px) {
      width: 108px;
      height: 108px;
      font-size: 70px;
    }
  }
  .fa-square {
    color: #ffa300;
  }
  .fa-circle {
    color: #176ede;
  }
  .fa-play {
    transform: rotate(-90deg);
    color: #bc271a;
  }
  .fa-plus {
    color: #3b8524;
  }
}

button {
  background: #3b8524;
  box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
  }
}

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover {
    color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}
