.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 40px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 20px;
  }
}
.cptn {
  font-size: 22px;
  line-height: 32px;
  margin: 0;
  @media (max-width: 600px) {
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
  }
}

img {
  width: 75%;
  display: block;
  margin: auto;
}

button {
  background: #3b8524;
  box-shadow: 0px 2px 5px rgba(59, 133, 36, 0.3);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
  }
}

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: .3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(0, 0, 0, 0.2)
  }
  &:hover {
    color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}

