<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Switch Game</title>
    <base href="/" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="favicon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <!-- <switch-game></switch-game> -->
    <!-- <link-swipe></link-swipe> -->
    <!-- <memory-cards></memory-cards> -->
    <!-- <number-racer-game></number-racer-game> -->
    <!-- <accuracy-game></accuracy-game> -->
    <!-- <statement-shapes></statement-shapes> -->
    <!-- <calc-game></calc-game> -->
    <balloon-game></balloon-game>

    <!-- <div class="row">
      <div style="width: 100%; border: 2px solid black;">
        <switch-game></switch-game>
      </div>
      <hr />
      <div style="width: 100%; border: 2px solid black;">
        <link-swipe></link-swipe>
      </div>
      <hr />
      <div style="width: 100%; border: 2px solid black;">
        <memory-cards></memory-cards>
      </div>
      <hr />
      <div>
        <number-racer-game></number-racer-game>
      </div>
      <hr />
      <div style="width: 100%; border: 2px solid black;">
        <accuracy-game></accuracy-game>
      </div>
      <hr />
      <div style="width: 100%; border: 2px solid black;">
        <statement-shapes></statement-shapes>
      </div>
      <hr />
      <div style="width: 100%; border: 2px solid black;">
        <calc-game></calc-game>
      </div>
    </div> -->
    <app-rupee-paise></app-rupee-paise>
  </body>
</html>
