.d-flex {
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  padding: 40px;
  @media (max-width: 600px) {
    min-height: calc(100vh - 20px);
    padding: 20px;
  }
}

img {
  width: 100%;
  display: block;
  margin: auto;
}

button {
  background: #176ede;
  box-shadow: 0px 2px 5px rgba(26, 73, 186, 0.3);
  border-radius: 8px;
  height: 45px;
  font-size: 16px;
  color: #fff;
  display: inline-flex;
  width: 130px;
  align-items: center;
  justify-content: center;
  border: 0;
  font-weight: 600;
  i {
    margin-left: 15px;
  }
  &:focus {
    outline: none;
  }
}

.move {
  div {
    font-size: 16px;
    color: #484848;
    margin: auto;
    margin-bottom: 15px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 172px;
    &:last-child {
      margin-bottom: 0;
    }
    strong {
      font-weight: 600;
    }
  }
  i {
    width: 30px;
    height: 30px;
    background: #176ede;
    box-shadow: 0px 2px 5px rgba(26, 73, 186, 0.3);
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
  }
  span {
    width: calc(100% - 50px);
    text-align: left;
  }
}

.waves-effect:not(.no-hover) {
  position: relative;
  overflow: hidden;
  z-index: 9;
  transition: 0.3s;
  &:after {
    content: "";
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    // background: #176ede;
    background: rgba(0, 0, 0, 0.2);
  }
  &:hover {
    color: #fff !important;
    &:after {
      width: 100%;
    }
  }
}
