.pdng {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 30px);
  @media (max-width: 600px) {
    padding: 15px;
    min-height: calc(100vh - 20px);
  }
}

.label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  font-size: 18px;
  font-weight: 600;
  div {
    width: 56px;
    height: 56px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background: #f8e8e7;
    color: #bc271a;
    box-shadow: 0px 0px 10px rgba(188, 39, 26, 0.1);
    border: 1px solid rgba(188, 39, 26, 0.15);
    margin-left: 20px;
    // p {
    //   height: 30px;
    //   position: absolute;
    //   bottom: -36px;
    //   width: 100%;
    //   margin: 0;
    //   background: #bc271a;
    //   color: #ffffff;
    //   font-size: 13px;
    //   display: none;
    //   align-items: center;
    //   justify-content: center;
    //   border-radius: 5px;
    //   box-shadow: 0px 0px 5px rgba(23, 110, 222, 0.2);
    //   transition: 0.3s;
    //   &:before {
    //     content: "";
    //     position: absolute;
    //     top: -4px;
    //     right: 0;
    //     height: 8px;
    //     width: 8px;
    //     transform: rotate(45deg);
    //     background: #bc271a;
    //     box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.14);
    //     border-radius: 3px 0 0 0;
    //     left: 0;
    //     margin: auto;
    //   }
    // }
    // &:hover {
    //   p {
    //     display: flex;
    //   }
    // }
    // span {
    //   font-size: 20px;
    //   margin-top: 4px;
    // }
  }
}

.icon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  div {
    border: 2px solid #176ede;
    box-shadow: 0px 0px 5px rgba(42, 48, 56, 0.3);
    border-radius: 8px;
    width: 62px;
    height: 62px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    margin: 0 5px;
    background: #fff;
  }
  .fa-square {
    color: #ffa300;
  }
  .fa-circle {
    color: #176ede;
  }
  .fa-play {
    transform: rotate(-90deg);
    color: #bc271a;
  }
  .fa-plus {
    color: #3b8524;
  }
}

.bg {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 9;
  margin: 15px 0;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: calc(50% - 4px);
    width: 4px;
    height: 100%;
    background: #fff;
    z-index: -1;
  }
  &:after {
    content: "";
    position: absolute;
    width: 69%;
    height: 110px;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 4px solid #fff;
    right: 0;
    left: 0;
    z-index: -1;
    border-radius: 10px;
  }
  .shape {
    width: 80px;
    height: 40px;
    position: absolute;
    left: -4px;
    right: 0;
    margin: auto;
  }
  .up {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-top: 40px solid #fff;
    top: 0;
  }
  .down {
    border-left: 80px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 40px solid #fff;
    bottom: 0;
  }
}

.number {
  margin: 35px -3px;
  display: flex;
  .item {
    display: flex;
    box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
    border: 2px solid #176ede;
    color: #176ede;
    border-radius: 5px;
    transition: 0.3s;
    width: calc(333.333% - 6px);
    margin: 0 3px;
    overflow: hidden;
    background: #fff;
    div {
      height: 42px;
      font-weight: 600;
      font-size: 20px;
      border-right: 2px solid #176ede;
      width: 25%;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      color: #176ede;
      &:last-child {
        border-right: 0;
      }
    }
    &:hover {
      background: yellow;
      // div {
      //   border-right-color: rgba(255, 255, 255, 0.2);
      //   color: #fff;
      // }
    }
  }
  @media (max-width: 600px) {
    margin: 20px 0;
  }
}
// .pdng {
//   padding: 20px;
//   display: flex;
//   flex-direction: column;
//   justify-content: space-between;
//   min-height: calc(100vh - 30px);
//   @media (max-width: 600px) {
//     padding: 15px;
//     min-height: calc(100vh - 20px);
//   }
// }

// .label {
//   display: flex;
//   justify-content: flex-end;
//   div {
//     width: 70px;
//     height: 70px;
//     border-radius: 8px;
//     font-weight: 600;
//     font-size: 26px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     position: relative;
//     background: #f8e8e7;
//     color: #bc271a;
//     box-shadow: 0px 0px 10px rgba(188, 39, 26, 0.1);
//     border: 1px solid rgba(188, 39, 26, 0.15);
//     p {
//       height: 30px;
//       position: absolute;
//       bottom: -36px;
//       width: 100%;
//       margin: 0;
//       background: #bc271a;
//       color: #ffffff;
//       font-size: 13px;
//       display: none;
//       align-items: center;
//       justify-content: center;
//       border-radius: 5px;
//       box-shadow: 0px 0px 5px rgba(23, 110, 222, 0.2);
//       transition: 0.3s;
//       &:before {
//         content: "";
//         position: absolute;
//         top: -4px;
//         right: 0;
//         height: 8px;
//         width: 8px;
//         transform: rotate(45deg);
//         background: #bc271a;
//         box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.14);
//         border-radius: 3px 0 0 0;
//         left: 0;
//         margin: auto;
//       }
//     }
//     &:hover {
//       p {
//         display: flex;
//       }
//     }
//     span {
//       font-size: 20px;
//       margin-top: 4px;
//     }
//   }
// }

// .icon {
//   display: flex;
//   flex-wrap: wrap;
//   align-items: center;
//   justify-content: center;
//   div {
//     border: 2px solid #176ede;
//     box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
//     border-radius: 8px;
//     width: 62px;
//     height: 62px;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
//     font-size: 40px;
//     margin: 5px;
//   }
//   .fa-square {
//     color: #ffa300;
//   }
//   .fa-circle {
//     color: #176ede;
//   }
//   .fa-play {
//     transform: rotate(-90deg);
//     color: #bc271a;
//   }
//   .fa-plus {
//     color: #3b8524;
//   }
// }

// .number {
//   margin: 35px 0;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   .item {
//     display: flex;
//     box-shadow: 0px 2px 5px rgba(23, 110, 222, 0.3);
//     border: 2px solid #176ede;
//     color: #176ede;
//     border-radius: 8px;
//     width: 242px;
//     margin-bottom: 20px;
//     transition: 0.3s;
//     &:last-child {
//       margin-bottom: 0;
//     }
//     &:hover {
//       background: #176ede;
//       color: #fff;
//     }
//     div {
//       height: 62px;
//       font-weight: 600;
//       font-size: 26px;
//       border-right: 2px solid #176ede;
//       width: 25%;
//       display: flex;
//       align-items: center;
//       justify-content: center;
//       cursor: pointer;
//       transition: 0.3s;
//       color: #176ede;
//       &:last-child {
//         border-right: 0;
//       }
//     }
//     &:hover {
//       background: #176ede;
//       div {
//         border-right-color: rgba(255, 255, 255, 0.2);
//         color: #fff;
//       }
//     }
//   }
//   @media (max-width: 600px) {
//     margin: 20px 0;
//   }
// }
