<div class="pdng">
  <div class="timer">
    <ng-container *ngIf="levels == 0">
      Game starts in...
    </ng-container>
    <ng-container *ngIf="levels > 0">
      Next round will starts in
    </ng-container>
    <div>{{ seconds }}</div>
  </div>
</div>


<!-- <div *ngIf="levels > 0" class="pdng">
  <div class="ans correct">
    <i class="fa fa-check" aria-hidden="true"></i>
    {{ anstext }}
  </div>

  <div class="timer">
    {{ seconds }}
  </div>
</div> -->

<!-- <div *ngIf="levels == 0" class="pdng space-between">
  <p class="cptn">
    Choose one of the sequences in the middle to determine the correct reorder
    of the symbols to make the Upper row match the Lower row
  </p>

  <div class="ftimer">
    Game starts in...
    <div>{{ seconds }}</div>
  </div>

  <div></div>
</div> -->

