<div class="d-flex" *ngIf="!stepOne">
  <div>
    <h1>Rupee & Paise</h1>
    <p>Press the <strong>“Right key”</strong> to continue</p>
  </div>

  <div>
    <img
      src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-images/switch-challenge.gif"
      alt="Switch Challenge"
    />
  </div>

  <div>
    <button class="waves-effect" (click)="goToFirstStep()">
      Start <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>

<!-- STEP1 -->
<div class="d-flex step" *ngIf="stepOne">
  <p class="cptn">
    You are provided with an input sequence of shapes and an output sequence.
    Out of the given options, find out which operation sequence is responsible
    for converting the given input to the corresponding output.
  </p>

  <div>
    <img
      src="https://d8it4huxumps7.cloudfront.net/uploads/images/d2c-images/switch-challenge.gif"
      alt="Switch Challenge"
    />
  </div>

  <div>
    <button class="waves-effect" (click)="submit()">
      Next <i class="fa fa-long-arrow-right"></i>
    </button>
  </div>
</div>
